.teams {
  &.boxes {
    @media @tablets-v, @smartphones {
      display: block;
      .team {
        margin-right: 0;
        margin-top: @baseMargin !important;
        width: 100%;
        &:first-child {
          margin-top: 0 !important;
        }
      }
    }
  }
  .team {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    background: @overlayBackground;
    background-size: cover;
    background-position: center;
    .logo {
      -ms-flex-preferred-size: auto;
      flex-basis: auto;
      padding: 0.5rem 0 1% 0.5rem;
      width: 40%;
      box-sizing: border-box;
      overflow: hidden;
      .image {
        max-width: 100%;
        height: auto;
        max-height: 100%;
        display: block;
        margin: 0 auto;
      }
    }
    .content {
      -ms-flex-preferred-size: auto;
      flex-basis: auto;
      width: 60%;
      box-sizing: border-box;
      padding: 5% 4% 5% 2%;
      > * {
        margin-bottom: 0.5rem;
        &:last-child {
          padding-bottom: 0;
        }
      }
      .header {
        font-family: @h2Font, sans-serif;
        font-size: @h2FontSize;
        font-weight: @h2FontWeight;
        text-transform: uppercase;
        display: block;
      }
      .meta {
        font-size: 90%;
        font-style: italic;
        &:before {
          font-style: normal;
          font-family: @iconFont;
          content: 'label';
          font-size: 0.9rem;
          line-height: 0.8rem;
          float: left;
          margin-top: 0.1em;
          margin-right: 0.4rem;
        }
      }
      .description {

      }
      .actions {

      }
    }
  }
}

#editTeamForm {
  .ui-accordion-header {
    cursor: pointer;
    padding: 0;
    > * {
      cursor: pointer;
    }
    .icon:before {
      transition: rotate @transitionDefault @transitionDefaultDelay;
    }
    &.ui-state-active {
      .icon:before {
        transform: rotate(90deg);
      }
    }
  }
  .ui-accordion-content {
    padding: 0;
  }
  .many-collection {
    .sortable {
      .item {
        .player {
          box-sizing: border-box;
          .boxes {
            align-items: center;
            .number {
              > span {
                font-size: 1.4rem;
              }
              width: 2rem;
            }
            .name {
              width: calc(55% - 2rem);
            }
            .position {
              width: calc(36% - 2rem);
            }
            .move {
              width: auto;
            }
          }
        }
      }
    }
  }
}
