{% use 'form_div_layout.html.twig' %}

{% block _team_version_form_team_ready_widget %}
    <button class="ui button green" id="{{ id }}" name="{{ full_name }}" type="submit" value="1">
        Save and ready to go
    </button>
{% endblock %}

{%- block form_errors -%}
    {%- if errors|length > 0 -%}
        <div class="ui negative message">
            {%- if not form.parent  -%}
                <div class="header">
                    {{ 'obblm.forms.submission.error'|trans }}
                </div>
            {%- endif -%}
            <ul class="list">
                {%- for error in errors -%}
                    <li>{{ error.message }}</li>
                {%- endfor -%}
            </ul>
        </div>
    {%- endif -%}
{%- endblock form_errors -%}
