{% extends '@ObblmCore/base.html.twig'%}

{% block title 'obblm.team.mine.title'|trans %}
{% block body %}
    <div class="action">
        <a href="{{ path('obblm_team_create')}}" class="ui button primary">
            {{ 'obblm.team.actions.add'|trans }}
        </a>
    </div>
    <h1 class="title">{{ 'obblm.team.mine.title'|trans }}</h1>
    {% include '@ObblmCore/partials/flash.html.twig' %}
    <div class="boxes three teams">
    {% for team in teams %}
        {% include '@ObblmCore/team/team-list-item.html.twig' with { 'team': team } %}
    {% else %}
        <div>
            {{ 'obblm.team.none'|trans }}
        </div>
    {% endfor %}
    </div>
{% endblock %}
