{% extends '@ObblmCoreApplication/base.html.twig'%}

{% block title 'obblm.team.mine.title'|trans({}, 'obblm') %}
{% block body %}
    <div class="action">
        <a href="{{ path('obblm_team_create')}}" class="ui button primary">
            {{ 'obblm.team.actions.add'|trans({}, 'obblm') }}
        </a>
    </div>
    {% include '@ObblmCoreApplication/partials/flash.html.twig' %}
    <h1 class="title">{{ 'obblm.team.mine.title'|trans({}, 'obblm') }}</h1>
    <div class="boxes three teams">
    {% for team in teams %}
        {% include '@ObblmCoreApplication/team/team-list-item.html.twig' with { 'team': team } %}
    {% else %}
        <div>
            {{ 'obblm.team.none'|trans({}, 'obblm') }}
        </div>
    {% endfor %}
    </div>
{% endblock %}
