{% extends '@ObblmCoreApplication/base.html.twig'%}

{% block body %}
    <ul>
        {% for item in rules %}
            <li>
                {% if item.isReadonly %}
                    <i class="icon mdi mdi-lock"></i>
                {% endif %}
                {{ item|rule_name|trans({}, item.ruleKey) }} ({{ item.ruleKey }})
            </li>
        {% endfor %}
    </ul>
{% endblock %}
