{% for label, messages in app.flashes(['success', 'info', 'warning', 'error']) %}
    {% for message in messages %}
        <div class="flash message closable {{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}