.form {
  &.login,
  &.register {
    background: @headerBackground;
    box-sizing: border-box;
    padding: @baseMargin;
    max-width: 30rem;
    margin-left: auto;
    margin-right: auto;
  }
  &.register {
    max-width: 35rem;
  }
}