{% extends '@ObblmCore/base.html.twig' %}

{% block title 'obblm.dashboard.title'|trans %}

{% block body %}
    <h1 class="title">{{ 'obblm.dashboard.title'|trans }}</h1>
    <div id="dashboard" class="two boxes">
        <div class="box main">
            {% block main_dashboard %}
            {% endblock %}
        </div>
        <div class="box right">
            {% block right_dashboard %}
                {{ render(controller(
                    'Obblm\\Core\\Controller\\FrontendController::lastTeams', {max: 3}
                )) }}
            {% endblock %}
        </div>
    </div>
{% endblock %}
