{% apply inline_css %}
<html>
    {% for css in obblm_css('reset', 'core') %}
    <link rel="stylesheet" href="{{ absolute_url( asset( css ) ) }}">
    {% endfor %}
    {% for css in obblm_css('email', 'core') %}
        <link rel="stylesheet" href="{{ absolute_url( asset( css ) ) }}">
    {% endfor %}
<body>
<div class="main container">
    <table class="table email">
        <tr>
            <td class="header">
                <h1 class="email-title">{% block header_title "OBBLM" %}</h1>
            </td>
        </tr>
        <tr>
            <td>
                {% block content %}
                    The content
                {% endblock %}
            </td>
        </tr>
    </table>
</div>
</body>
</html>
{% endapply %}
