{% set reset = obblm_css('reset', 'core')|map(css => source("@public_assets" ~ css))|join %}
{% set email = obblm_css('email', 'core')|map(css => source("@public_assets" ~ css))|join %}

{% apply inline_css(reset, email) %}
<html>
    <body>
<div class="main container">
    <table class="table email">
        <tr>
            <td class="header">
                <h1 class="email-title">{% block header_title "OBBLM" %}</h1>
            </td>
        </tr>
        <tr>
            <td>
                {% block content %}
                    The content
                {% endblock %}
            </td>
        </tr>
    </table>
</div>
</body>
</html>
{% endapply %}
